html {
  font-size: 62.5%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow: -moz-scrollbars-vertical;
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  padding: 0;
  margin: 0;
  font-size: 100%;
  position: relative;
  text-rendering: optimizelegibility;
  font-size: 1em;
  line-height: 1;
  font-family: Helvetica, Arial, sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
table,
td,
ul,
ol,
h1,
h2,
h3,
h4,
p,
img {
  margin: 0;
}
ul,
ol {
  padding-left: 0;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
pre {
  overflow: auto;
}
code {
  white-space: pre-wrap;
}
pre > code {
  white-space: pre;
}
